<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comic Page</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/jquery-1.12.2.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">9 Chickweed Lane</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/9chickweedlane.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Adam at Home</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/adamathome.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Archie</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/archie.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">BC</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/bc.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Beetle Bailey</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/beetle-bailey-1.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Bizarro</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/bizarro.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Blondie</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/blondie.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Calvin and Hobbes</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/calvinandhobbes.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Crankshaft</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/crankshaft.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Dilbert</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/dilbert.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Doonesbury</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/doonesbury.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">For Better or for Worse</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/forbetterorforworse.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Garfield</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/garfield.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Gil Thorp</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/gilthorp.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Hagar the Horrible</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/hagar-the-horrible.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Heathcliff</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/heathcliff.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Herman</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/herman.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Hi and Lois</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/hi-and-lois.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Luann</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/luann.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Marmaduke</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/marmaduke.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Momma</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/momma.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Monty</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/monty.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">mrboffo</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/mrboffo.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Non Sequitur</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/nonsequitur.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Overboard</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/overboard.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Real Life Adventure</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/reallifeadventures.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Sally Forth</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/sally-forth.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Shoe</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/shoe.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Stonesoup</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/stonesoup.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Wizard of Id</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/wizardofid.jpg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Ziggy</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/ziggy.jpg"></img>
      </div>
    </div>


  </div>

</body></html>
