<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-md-6"><img class="img-responsive" src="/img/Ivan_Lagace_thumb.jpg" alt="Photo of Site Owner"></div>
      <div class="col-md-6">
        <h1 class="text-right text-uppercase">Ivan Lagace</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="/img/Programming-Code-l.jpg" alt="Programming Code Picture">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Featured Work</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p style="margin-bottom:3cm;"></p>
        <img class="img-responsive" src="/img/financialAI.png"></a>
        <h3>Financial Application using Machine Learning</h3></a>
        <p><a href="http://s3-us-west-2.amazonaws.com/ivanweb/FinancialApps/financialAI.docx">Link to paper</a></p>
        <p><a href="http://s3-us-west-2.amazonaws.com/ivanweb/FinancialApps/financialAICode.docx">Link to code</a></p>
      </div>
      <div class="col-md-6">
        <img class="img-responsive" src="/img/financialDP.png"></a>
        <h3>Financial Application using Dynamic Programming</h3></a>
        <p><a href="http://s3-us-west-2.amazonaws.com/ivanweb/FinancialApps/financialDP.pdf">Link to paper</a></p>
        <p><a href="http://s3-us-west-2.amazonaws.com/ivanweb/FinancialApps/financialDPCode.docx">Link to code</a></p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <a href="/app/website"><img class="img-responsive" src="/img/WebSite.jpg"></a>
        <a href="/app/website"><h3>Personal Photo/Video Site</h3></a>
        <p><a href="https://github.com/ilagace/Web-Site-2016">Link to project on GitHub</a></p>
      </div>
      <div class="col-md-6">
        <a href="/app/comicslocal/"><img class="img-responsive" src="/img/Comics.jpg"></a>
        <a href="/app/comicslocal/"><h3>Make your own comic page</h3></a>
        <p><a href="https://github.com/ilagace/Web-Site-2016">Link to project on GitHub</a></p>
      </div>
    </div>
</body>
<script type="text/javascript" src="jvs/main.js"></script>
</html>
