<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-md-6"><img class="img-responsive" src="/img/Ivan_Lagace_thumb.jpg" alt="Photo of Site Owner"></div>
      <div class="col-md-6">
        <h1 class="text-right text-uppercase">Ivan Lagace</h1>
        <h3 id="company" class="text-right">nodedejava - Inspired Programming</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="/img/Programming-Code-l.jpg" alt="Programming Code Picture">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Featured Work</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="/app/website"><img class="img-responsive" src="/img/WebSite.jpg"></a>
        <a href="/app/website"><h3>Personal Photo/Video Site</h3></a>
        <p><a href="https://github.com/ilagace/Web-Site-2016">Link to project on GitHub</a></p>
      </div>
      <div class="col-md-6">
        <a href="/app/comicslocal/"><img class="img-responsive" src="/img/Comics.jpg"></a>
        <a href="/app/comicslocal/"><h3>Make your own comic page</h3></a>
        <p><a href="https://github.com/ilagace/Web-Site-2016">Link to project on GitHub</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="/tennis"><img class="img-responsive" src="/img/tennis.jpg"></a>
        <a href="/tennis"><h3>Tennis Appointment Application</h3></a>
        <p><a href="http://github.com/ilagace/Tennis-Scheduling">Link to project on GitHub</a></p>
      </div>
      <div class="col-md-6">
        <a href="/vr"><img class="img-responsive" src="/img/vrapplication.jpg"></a>
        <a href="/vr"><h3>VR Application</h3></a>
        <p><a href="https://github.com/ilagace/VR-Application">Link to project on GitHub</a></p>
      </div>
  </div>

  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">nodedejava</h4>
      </div>
      <div class="modal-body">
      <h3>We specialize in Web and Mobile applications.  We are based in Canada (Montreal) and we work in both English and French.  The principal, Ivan Lagace, started as a real-time, flight simulation programmer in the 1980s.  He then embarked on a Sales and Marketing career in software and hardware companies.  In addition to our programming skills we have a strong business expertise in operations, marketing and business development.  The idea is that we will understand your business and we can provide the most optimized solutions to your software development challenges.  Effective interactive communications are essentials on any projects and we work very closely with our customers during the full development cycle.</h3>
      <h3>We specializes in nodejs applications with MongoDB back-end, angularJS and javascript.</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</body>
<script type="text/javascript" src="jvs/main.js"></script>
</html>
